body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url("529865.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 
  #sub { 
   float: left;
    background:Red; 
    width:40%; 
    height:2px; 
} 
#butt{ 
    float:left;  
    background:Green; 
    width:30%; 
    height:2px; 
} 



.button {
    background-color: lightslategrey; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1 {
    background-color: #4CAF50;
    color: white;
  }
  
  
  .button2:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button2 {
    background-color: #4CAF50;
    color: white;
  }
  
  
  .button3:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button3 {
    background-color: #4CAF50;
    color: white;
  }
  
  .button4:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button4 {
    background-color: #4CAF50;
    color: white;
  }
#bg-modal1 {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
    align-items: center;
    float:left;
}
            #modal-contents1 {
	height: 500px;
	width: 800px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}
            #close1 {
  position:absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color:red;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover {
		color: #666;
	}
}

  
#bg-modal2 {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
    align-items: center;
    float:left;
}
            #modal-contents2 {
	height: 500px;
	width: 800px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}
            #close2 {
  position:absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color:red;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover {
		color: #666;
	}
}

  
#bg-modal3 {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}
            #modal-contents3 {
	height: 500px;
	width: 800px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}
            #close3 {
  position:absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color:red;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover {
		color: #666;
	}
}


  
#bg-modal4 {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}
            #modal-contents4 {
	height: 500px;
	width: 800px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}
            #close4 {
  position:absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color:red;
	transform: rotate(45deg);
	cursor: pointer;
	&:hover {
		color: #666;
	}
}



     /* body {
            background-color: lightblue;
          }
          .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}*/

     /* body {
            background-color: lightblue;
          }
          .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}*/

     /* body {
            background-color: lightblue;
          }
          .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}*/

     /* body {
            background-color: lightblue;
          }
          .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}*/